

## Objetivo do Notebook

Este notebook é dedicado às listas de exercícios em Python que serão desenvolvidas ao longo do curso.

As listas fazem parte do curso [Fundamentos de Linguagem Python Para Análise de Dados e Data Science](https://www.datascienceacademy.com.br/course/fundamentos-de-linguagem-python-para-analise-de-dados-e-data-science),  oferecido pela plataforma **Data Science Academy**

Cada lista corresponderá a um capítulo do curso, abordando diferentes tópicos de forma prática.

### Lista de Exercícios - Variáveis, Tipos e Estrutura de Dados

In [ ]:
# Exercício 1 - Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.

list1 = list(range(0,11))
print(list1)

In [ ]:
# Exercício 2 - Crie uma lista de 5 objetos e imprima na tela

list2 = ['Maria', [0,1,2], 9.8, 34, 'Paulo']
print(list2)

In [ ]:
# Exercício 3 - Crie duas strings e concatene as duas em uma terceira string

string1 = 'Maria'
string2 = 'Gomes'

string3 = string1 + ' ' + string2
print(string3)

In [ ]:
# Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla

tupla1 = (1, 2, 2, 3, 4, 4, 4, 5)
tupla1.count(4)

In [ ]:
# Exercício 5 - Crie um dicionário vazio e imprima na tela

dict1 = {}
print(dict1)

In [ ]:
# Exercício 6 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela

dict2 = {'Nome': 'Maria', 'Idade': 49, 'Cidade': 'BH'}
print(dict2)

In [ ]:
# Exercício 7 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela

dict2['Estudante'] = 'S'
print(dict2)

In [ ]:
# Exercício 8 - Crie um dicionário com 3 chaves e 3 valores.
# Um dos valores deve ser uma lista de 2 elementos numéricos.
# Imprima o dicionário na tela.

dict3 = {'Lista': [1,4], 'String': 'Maria', 'Tupla': (23,67)}
print(dict3)

In [ ]:
# Exercício 9 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string,
# o segundo uma tupla de 2 elementos, o terceiro um dcionário com 2 chaves e 2 valores e
# o quarto elemento um valor do tipo float.
# Imprima a lista.

list3 = ['Nome', (23,67), {'Idade': 34, 'Idade2': 12}, 9.0]
print(list3)

In [ ]:
# Exercício 10 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'

print(frase[0:18])